html, body{
    text-align: center;
    text-decoration: none;
}

.header{

    background-image: url("../img/head-photo.jpg");
    background-size:cover;
    background-position: center;
    height: 25em;
    color: white;
    padding-top: 5em;

}

body a{
    text-decoration: none;
}

li{
    list-style-type: none;
    display: inline;
}

.nav-pills{
    text-decoration: none;
    list-style-type: none;
    display: inline-flex;
    padding: 1em;
}

ul li{
    padding: 1em;
}

.btn{
    background-color: lightgrey;
    color: white;
}

.intro{
    text-align: left;
}
